<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="candles-link">
                <a href="{% url 'products' %}?category=scented_candles" class="dropdown-item">Scented Candles</a>
                <a href="{% url 'products' %}?category=unscented_candles" class="dropdown-item">Unscented Candles</a>
                <a href="{% url 'products' %}?category=personalized_candles" class="dropdown-item">Personalized Candles</a>
                <a href="{% url 'products' %}?category=candles,scented_candles,unscented_candles,personalized_candles" class="dropdown-item">All Candles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="charms-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Charms & Talismans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="charms-link">
                <a href="{% url 'products' %}?category=zodiac_charms" class="dropdown-item">Zodiac Charms</a>
                <a href="{% url 'products' %}?category=crystal_charms" class="dropdown-item">Crystal Charms</a>
                <a href="{% url 'products' %}?category=charms,zodiac_charms,crystal_charms" class="dropdown-item">All Charms & Talismans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gifts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gifts & Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="{% url 'products' %}?category=personalized_items" class="dropdown-item">Personalized Gifts</a>
                <a href="{% url 'products' %}?category=gift_sets" class="dropdown-item">Gift Sets</a>
                <a href="{% url 'products' %}?category=seasonal" class="dropdown-item">Seasonal Specials</a>
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=personalized_items,gift_sets,seasonal,new_arrivals,clearance" class="dropdown-item">All Gifts & Specials</a>
            </div>
        </li>
    </ul>
</div>
