html {
    height: 100%;
}

body {
    body {
        color: #ffffff;
        font-family: 'Lato';
    }
}

.homepage-background {
    background: url('/media/homepage_background.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn {
    font-weight: 600;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #2f4a7a !important;
    color: white;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.product-details-container {
    color: #000;
}

/* Footer Styles */
.footer {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.footer h6 {
    font-weight: bold;
    color: #ffffff;
}

.footer .footer-link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer .footer-link:hover {
    text-decoration: underline;
    color: #ddd;
}

.footer .form-inline input {
    width: auto;
    padding: 0.375rem 0.75rem;
    border-radius: 0;
}

.footer .form-inline button {
    padding: 0.375rem 0.75rem;
    border-radius: 0;
}

.footer .footer-social-link {
    color: #ffffff;
    margin-right: 15px;
    font-size: 1.5em;
    text-decoration: none;
}

.footer .footer-social-link:hover {
    color: #ddd;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Responsive Padding Adjustments */
@media (max-width: 768px) {
    .footer .form-inline input,
    .footer .form-inline button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* overlay  settings */
.overlay {
    background: #f7f7f7;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.overlay h1 {
    font-size: 3rem;
    margin: 0;
}

.overlay p {
    font-size: 1.5rem;
    margin: 20px 0 30px;
    font-weight: 400;
}