{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay clearover">
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">My Wishlist</h2>
                <hr>
            </div>
        </div>
        <div class="wishlist-container">
            {% if wishlist_items %}
                <ul class="list-unstyled">
                    {% for item in wishlist_items %}
                        <li class="wishlist-item d-flex align-items-center mb-4">
                            <!-- Product Image -->
                            <div class="wishlist-image mr-3">
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid" style="width: 100px; height: auto;">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.webp" alt="{{ item.product.name }}" class="img-fluid" style="width: 100px; height: auto;">
                                {% endif %}
                            </div>

                            <!-- Product Details -->
                            <div class="wishlist-details flex-grow-1">
                                <p class="mb-1 font-weight-bold">{{ item.product.name }}</p>
                                <p class="text-muted">${{ item.product.price }}</p>
                            </div>

                            <!-- Wishlist Actions -->
                            <div class="wishlist-actions d-flex">
                                <!-- Add to Bag Button -->
                                <form action="{% url 'add_to_bag' item.product.id %}" method="POST" class="mr-2">
                                    {% csrf_token %}
                                    <div class="form-group mx-auto ml-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0" 
                                                    data-item_id="{{ item.product.id }}" id="decrement-qty_{{ item.product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ item.product.id }}"
                                                id="id_qty_{{ item.product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0"
                                                    data-item_id="{{ item.product.id }}" id="increment-qty_{{ item.product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-black">Add to Bag</button>
                                </form>

                                <!-- Remove from Wishlist Button -->
                                <form action="{% url 'remove_from_wishlist' item.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">X</button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center">Your wishlist is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
